.dashboard-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.dashboard-section {
    flex: 1;
}

@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column; /* Cambia a columna en móviles */
    }

    .dashboard-section {
        margin-right: 0;
    }
}
